h2{
    background-color: white;
     color: blue;
}
#course{
    background-color: white;
    color: blue;
}
#interests{
    background-color:white;
    color: blue;
}
#submit{
    background-color: white;
    color: blue;
}