body{ 
     background-color:black;

} 


.row{
    width:60%;
    height:600px;
    background-color:violet;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-gap:11px;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;

}


.col{
    border:1px solid peru;
    display:flex;
    justify-content:center;
    align-items:center;
}

.row :nth-child(1){
    grid-row-start:1;
    grid-row-end:4;
    background-color:green;
}

.row :nth-child(2){
    grid-column-start:2;
    grid-column-end:4;
    background-color:green;
}

.row :nth-child(3){
    background-color: red;
}

.row :nth-child(4){
    background-color:orange;
}

.row :nth-child(5){
    background-color:red;

}

.row :nth-child(6){
    background-color:green;
    grid-row-start:2;
    grid-row-end:4;
    grid-column-start:4;
    grid-column-end:5;
}

.row :nth-child(7){
    background-color: red;
}

.row :nth-child(8){
    background-color: orange;
}

