body{
    background-color:grey;
    color:white
}


h1{
    text-align:center;
    text-decoration:underline;
    text-decoration-color:green;
}
h2{
    text-align: justify;
    color:crimson
}


#main_head{
     color:yellow;
     text-align:underline;
     text-decoration:antiquewhite;
     text-decoration-color: left;
}

.text-success{
    color:green
}

.text-failed{
    color:red
}


.text-underline{
    text-decoration:underline;
}

