body{
background-color: blueviolet;
} 

.box{
    width:60%;
    height:600px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top:8%;
}

.h1{
    text-align: center;
    
}








